# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Python bytecode cache
*/__pycache__
backend/scripts/__pycache__
*.pyc
*/my_env
backend/scripts/my_env

# Ignore models
*.keras
*.h5
*.joblib
*.npy
*.pkl
*.npy

# Ignore datasets
*.csv
*.xlsx

# Ignore images
*.png
*.jpg
*.jpeg
**/*.png
**/*.jpg
**/*.jpeg

backend/config.yaml
backend/flask_session