.slider-container {
    margin-bottom: 10px;
}

.SliderBox {
    font-size: 18px;
    margin-bottom: 10px;
}

.Slider {
    width: 100px;
    height: 2px;
    margin: 5px;
}

.slider-value {
    text-align: center;
    font-size: 10px;
    margin-left: 5px;
}