.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Line {
  border-bottom: 2px solid #FDBF60;
  width: 100%;
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.Center {
  text-align: center;
  align-items: center;
}

.MediumText {
  font-size: 18px;
}

.RefreshBtn {
  background-color: transparent;
  border-radius: 100%;
  border: none;
  font-size: 40px;
  color: #FF8911;
  display: block;
  cursor: pointer;
}

.RefreshBtn:active, :focus {
  border: none;
  color: #FDBF60;
  background-color: transparent;
}

header {
  z-index: 1;
  background-color: #7F27FF;
  box-shadow: 0 1px #FF8911;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FDBF60;
  padding-top: 10px;
}

input {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #FDBF60;
  width: fit-content;
}

input::placeholder {
  color: #FDBF60;
}

input:active, :focus {
  background-color: white;
  color: black;
}

.Dash {
  width: 200px;
  height: 2px;
  background-color: #FDBF60;
  cursor: pointer;
  margin-bottom: 0;
}

.Expanded {
  width: 100vw;
  height: 100vh;
}

.Yellow {
  background-color: #FDBF60;
}

.Orange {
  background-color: #FF8911;
}

.BottomRight {
  z-index: 0;
  position: absolute;
  bottom: 100px;
  right: 100px;
  text-align: right;
}

.ChatBox {
  position: fixed;
  bottom: 30px;
  right: 100px;
  padding: 12px;
  border-radius: 50px;
  box-sizing: content-box;
  border: none;
  text-align: center;
  transition: width 0.3s ease;
  font-size: 1.2rem;
}

.ChatBox:focus {
  border: none;
  box-shadow: none;
}

@keyframes bubbleUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(0);
  }
}

ul {
  list-style-type: none;
}

li {
  float: right;
  padding: 15px;
  border-radius: 100px;
  margin: 10px;
  width: fit-content;
  opacity: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  animation: bubbleUp 0.5s ease forwards;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}